<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.energy.contract.mapper.IndustryCategoryMapper">
    <resultMap id="BaseResultMap" type="com.yonyou.energy.contract.domain.IndustryCategory">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="reason" jdbcType="VARCHAR" property="reason" />
        <result column="creator" jdbcType="BIGINT" property="creator" />
        <result column="creationtime" jdbcType="CHAR" property="creationtime" />
        <result column="modifier" jdbcType="BIGINT" property="modifier" />
        <result column="modifytime" jdbcType="CHAR" property="modifytime" />
        <result column="dr" jdbcType="INTEGER" property="dr" />
        <result column="ts" jdbcType="CHAR" property="ts" />
    </resultMap>
    <sql id="Base_Column_List">
        id, code, name, status, reason, creator, creationtime, dr, ts
    </sql>
    <sql id="sqlCondition">
        <if test="id != null and id != ''">
            and id= #{id}
        </if>
        <if test="ids!=null and ids!=''">
            and id IN
            <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="null != code and code!=''">
            and code like CONCAT('%',#{code},'%')
        </if>
        <if test="null != name and name!=''">
            and name like CONCAT('%',#{name},'%')
        </if>
    </sql>
    <sql id="orderbyCondition">
        order by creationtime DESC
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sgnc_industrycategory
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="queryEntity" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sgnc_industrycategory
        where dr=0
        <include refid="sqlCondition"/>
    </select>
    <select id="selectCurrency" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sgnc_industrycategory
        where dr=0
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sgnc_industrycategory
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <update id="deleteBatch">
        update sgnc_industrycategory set dr = 1, ts = now()
        where dr = 0 and id in
        <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <insert id="insertCurrency" parameterType="com.yonyou.energy.contract.domain.Currency">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sgnc_industrycategory (code, name, status, reason,
        creator, creationtime, dr, ts)
        values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{reason,jdbcType=VARCHAR},
        #{creator,jdbcType=BIGINT}, #{creationtime,jdbcType=CHAR}, #{dr,jdbcType=INTEGER}, #{ts,jdbcType=CHAR}
        )
    </insert>
    <insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List" keyProperty="id">
        insert into sgnc_industrycategory (code, name, status, reason,
        creator, creationtime, dr, ts
        ) values
        <foreach item="item" collection="list" separator=",">
            (#{item.code,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.status,jdbcType=INTEGER}, #{item.reason,jdbcType=VARCHAR},
            #{item.creator,jdbcType=BIGINT}, now(),
            #{item.dr,jdbcType=INTEGER}, now()
            )
        </foreach>
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.yonyou.energy.contract.domain.Currency">
        update sgnc_industrycategory
        set code = #{code,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        status = #{status,jdbcType=INTEGER},
        reason = #{reason,jdbcType=VARCHAR},
        modifier = #{modifier,jdbcType=BIGINT},
        modifytime = #{modifytime,jdbcType=CHAR},
        dr = #{dr,jdbcType=INTEGER},
        ts = now()
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update sgnc_industrycategory
            <set>
            code = #{item.code,jdbcType=VARCHAR},
            name = #{item.name,jdbcType=VARCHAR},
            status = #{item.status,jdbcType=INTEGER},
            reason = #{reason,jdbcType=VARCHAR},
            modifier = #{item.modifier,jdbcType=BIGINT},
            modifytime = now(),
            ts = now()
            </set>
            where id = #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
</mapper>