<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://code.alibabatech.com/schema/dubbo
      http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- dubbo 配置 -->
    <dubbo:application name="${dubbo.application.name}"/>
    <dubbo:protocol name="dubbo" port="-1"/>
    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" timeout="35000" check="false" subscribe="false"/>
    <!--<dubbo:service interface="com.yonyou.yuncai.bidtrade.api.IBidtradeService" ref="bidtradeServiceImpl"    group="${dubbo.bidauction.group}" filter="logcontext"/>
    <dubbo:service interface="com.yonyou.yuncai.bidtrade.api.IBidtradeRegisterService" ref="bidtradeRegisterServiceImpl" group="${dubbo.bidauction.group}" filter="logcontext"/>
    <dubbo:service interface="com.yonyou.yuncai.bidtrade.inner.api.IBidquoteInnerService" ref="bidquoteInnerServiceImpl" group="${dubbo.bidauction.group}" filter="logcontext"/>
    <dubbo:service interface="com.yonyou.yuncai.bidtrade.inner.api.IBidtradeInnerService" ref="bidtradeInnerServiceImpl" group="${dubbo.bidauction.group}"  filter="logcontext"/>
    <dubbo:service interface="com.yonyou.yuncai.bidtrade.api.IMsgPusherService" ref="msgPusherServiceImpl" group="${dubbo.bidauction.group}"  filter="logcontext"/>
	<dubbo:service interface="com.yonyou.yuncai.bidtrade.api.IBidtradeHallService" ref="bidtradeHallServiceImpl" group="${dubbo.bidauction.group}" filter="logcontext" />
-->
    <dubbo:service interface="com.yonyou.energy.contract.api.IContractTypeService" ref="contractTypeServiceImpl" group="${dubbo.contract.group}" filter="logcontext"/>
</beans>