<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd 
      http://code.alibabatech.com/schema/dubbo
      http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" timeout="35000"  />
	<dubbo:reference interface="com.yonyou.cpu.api.privilege.account.IUserService" id="userService" group="${dubbo.privilege.group}" check="false" retries="0" timeout="50000"/>
	<dubbo:reference interface="com.yonyou.cpu.api.privilege.enterprise.IEnterpriseService" id="enterpriseService" group="${dubbo.privilege.group}" check="false" retries="0" timeout="50000"/>
	<dubbo:reference interface="com.yonyou.yc.cpu.api.message.IPendingMessageService" id="pendingMessageServiceImpl" group="${dubbo.privilege.group}" check="false" retries="0" timeout="50000"/>
</beans>
